<h1>All Departments</h1>

<% @departments.each do |department| %>
  <div id="dept-<%= department.id %>">
    <h3><%= department.name %><%= department.floor %></h3>
    <% department.employees.each do |employee| %>
      <%= employee.name %>
    <% end %>
    </div>
  <% end %>
